fastapi[standard]
uvicorn
ollama
python-dotenv
requests
ipython
coqui-tts
scipy
faster-whisper
pyaudio
spacy
pynput
# deepspeed
nvidia-cublas-cu12
nvidia-cudnn-cu12==9.*
-i https://download.pytorch.org/whl/cu128
torch
torchvision 
torchaudio